@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Otto';
  src: url('./assets/otto/Otto.ttf') format('truetype'); /* Adjust the path and format as necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Otto', cursive;
  cursor: url('src/assets/images/Hand-Reaching-Out3.png'), auto;
}
:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*custom loader css*/
p {
  z-index: 1002;
}
.custom-loader {
  padding: 20px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #7f86ba, #f9afbc);
  z-index: 1000;
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}
.custom-loader > div {
  position: relative;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-top {
  max-height: 90vh;
  position: absolute;
  background: none;
}
/* Custom loader CSS */
.custom-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #7f86ba, #f9afbc);
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.custom-loader > div {
  position: relative;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-top {
  max-height: 90vh;
  position: absolute;
  background: none;
}

.slide-bottom {
  margin-top: 0;
  width: 85%; /* Adjust based on your image size */
  height: 85%; /* Adjust based on your image size */
  max-width: 80vw;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/images/mai-col/parchment.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.text-inside {
  margin-top: 12%;
  margin-bottom: 10%;
  margin-left: 23%;
  margin-right: 20%;
  height: 95%;
  width: 85%;
  max-height: 90vh;
  max-width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5vw; /* Use viewport-relative units for font size */
  overflow: scroll;
  word-wrap: break-word;

  box-sizing: border-box; /* Ensure padding is included in height/width */
  /* border: 5px solid black; */
}

::-webkit-scrollbar {
  display: none;
}
.underlay {
  width: 100%;
  height: 100%;
  z-index: 1000; /* Behind the popup */
  align-items: center;
  justify-content: center;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90vw;
  max-height: 90vh;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  z-index: 1001;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
}

.popup-content button {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

.popup-content button:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: url('src/assets/images/Hand-Reaching-Out3.png'), auto;
}
