@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Otto';
  src: url('./assets/otto/Otto.ttf') format('truetype'); /* Adjust the path and format as necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Otto', cursive;
}
:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*custom loader css*/
p {
  z-index: 1002;
  font-size: 30px;
}
.custom-loader {
  padding: 20px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #7f86ba, #f9afbc);
  z-index: 1000;
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}
.custom-loader > div {
  position: relative;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-top {
  max-height: 90vh;
  position: absolute;
  background: none;
}
.slide-top:hover {
  outline: 100px solid #ffffff; /* Change color and size of outline as needed */
  cursor: grab;
}
.slide-bottom {
  width: 85%; /* Adjust based on your image size */
  max-height: 90vh;
  max-width: 80vw;
  position: absolute;
  background: none;
}

.slide-bottom {
  margin-top: 20px;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
